# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE
.idea/

# Database
*.db
data/

# OS files
.DS_Store

# Testing file
test_data_manager.py
test_api_requests_integration.py